<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Strona główna{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <style>
            body {
                background-color: grey;
            }
            #main {
                margin: auto;
                max-width: 80%;
                min-height: 600px;
                border: 1px solid black;
            }
            #header {
                text-align: center;
                min-height: 100px;
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        {% block body %}{% endblock %}
        <div id="main">
            <div id="header"></div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
